@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Roboto:wght@100;300;400;500;900&display=swap');

:root {
  /* layouts */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* Typography */
  --title: 20px;
  --paragrah: 15px;
  --fw1: 400;
  --fw2: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
  border-radius: 5%;
}

body {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
}
main {
  max-width: 310px;
  min-width: 310px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--white);
}
.qr-container{
  width: 90%;
  background: var(--light-gray);
  margin-inline:auto;
  margin-top: 18px;
}
.qr-container img{
  width: 100%;
}
.disc{
margin-inline:auto;
width: 90%;
text-align: center;
margin-block: 15px;
}

.disc .title h1{
  font-size: var(--title);
  font-weight: var(--fw2);
  letter-spacing: .7px;
  line-height: 1.3;
  color: var(--dark-blue);
  margin-block: 10px;
}
.disc .sub-title{
  font-size: var(--paragrah);
  font-weight: var(--fw1);
  color: var(--grayish-blue);
  margin-top: 20px;
  margin-bottom: 30px;
  /* letter-spacing: .8px; */
}